/* Space out content a bit */
/*body {
  padding-top: 20px;
  padding-bottom: 20px;
 
  
  
}*/

body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
		background-color: #BABABA;
}


html {
    height: 100%;
    width: 100%;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
}

html, body {height: 100%; margin:0;padding:0}


h3 {
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
	display:table-cell;
	
}


.container-fluid{
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}
 
.row-fluid {
	height: 100%; 
	display:table-cell; 
	vertical-align: middle;
}
 
.centering {
  float:none;
  margin:0 auto;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* PANEL */

/* TODO - use! */
.panel-warning {
  border-color: #faebcc;
}
/* override the twitter bootstrap styles */
/*
	428bca
428bca
*/
.panel-heading {
  padding: 2px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}



/*.panel-heading {
  color: #ff0000;
  background-color: #42ca8b;
  border-color: #428bca;
	padding: 4px 10px;
}

.panel-primary {
  color: #ff0000;
  background-color: #42ca8b;
  border-color: #428bca;
	padding: 4px 10px;
}*/

/*See: http://css-tricks.com/snippets/css/media-queries-for-standard-devices/*/

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
/* Styles */
}

/* Desktops and laptops -----------  */
@media (min-width: 1224px) { 
	/*// */
}
/* iPads (portrait and landscape) */
@media only screen and(min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
/* Styles */
	.container-fluid {
		background-color: #AA1111;
		width: 100%;
		
	}
	.outside-box {
		border: 1px solid;
		border-color: #FF1122;
		background-color: #33FF22;
		margin-left: 2px;
		margin-right: auto;
	}
	
	
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
/* Styles */
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


.container-narrow > hr {
  margin: 30px 0;
}

.holder {
    width: 100%;
	height: 100%;
    padding: 14px 24px;
    overflow-y:auto;
       height:100%;
	background-color: #FFAAAA;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/*
 For Vertical alignment
*/
.wrapper {
	display:table; 
	width:100% 
}
.cell {
	display:table-cell; 
	vertical-align:middle;
}

/*
	Sign-in form
*/

.form-signin-heading {
	 
}
.checkbox {
	font-size: 18px;
}
.form-signin  {
  max-width: 425px;
  padding: 19px 29px 29px;
  margin: 0 auto 10px;
  background-color: #AAAAAA;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
          box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 14px;
  height: auto;
  width: 100%;
  height: 100%;
 /* margin-bottom: 15px;*/
/*  margin-left: 25px;
  margin-right: 5px;*/
  /*padding: 7px 9px;*/
}
.form-signin p {
	/*padding: 5px 5px;*/
}
input.ng-invalid {
    border: 1px solid red;
}
input.ng-valid {
    border: 1px solid green;
}
/* The following space out the elements within the form entry */
.horizontal-elements {
	 width: 100%;
	/* border: 1px solid red;*/
	 padding: 15px 2px;
}
.left {
	width: 90px;
	height: 100%;
	float: left;
	/*border: 1px solid black;*/
}
.right {
  min-width: 1px;
  float: right;
  /*border: 1px solid black;*/
}
.horizontal-elements span {
    display: block;
    overflow: hidden;
   /* border: 1px solid blue;*/
}

.fill-height {
	height: 100%;
    display: block;
    overflow: hidden;
}

/* 
 * An Aside to stand out
*/

.outside-box {
	width: 100%;
	height: 100%;
	padding: 5px;
	background-color: #BBB;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.big-box {
    width: 100%;
	height: 100%;
    padding: 19px 29px 29px;
    margin: 10px;
    background-color: #AAAAAA;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
	
}

.border-only {
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.box {
    max-width: 425px;
	min-height: 50px;
    padding: 19px 29px 29px;
    margin: 10px auto 10px;
    background-color: #AAAAAA;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
	
}

.game-board {
	position: relative;
	background-color: #88AAFF;
	display: inline-block;
	overflow: hidden;/* So the animating object doesn't stick out. */
	margin: 0 auto;
}

.half-height {
	height: 50%;
	width: 100%;
	min-height: 50%;
}

/* used by the animating card */
.image-repeat {
  position: absolute;
  bottom: -50px;
  left: 22%;
  opacity: 0.0;
  filter: alpha(opacity=0);
  /* For IE8 and earlier */
}


.game-box {
    /*max-width: 425px;*/
	min-height: 450px;
	height: 450px;
    padding: 19px 29px 29px;
    margin: 0 auto 10px;
    background-color: #4286B8;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
	
}

.game-row {
    width: 100%;
	height: 100%;
    padding: 14px 24px;
    overflow-y:auto;
	
	border: 1px solid #e5e5e5;

}

.light_grey {
	background-color: #CCCCCC;
}

.odd {
  background-color: #EEEEEE;

}
.even {
  background-color: #BABABA;
/*  width: auto !important;*/
  
}

.fill-row {
	display: inline-block;
	width: 296px;
	height: 50px;
    line-height:30px;
	 margin: 1px;
   /* margin-top: 10px;
    margin-bottom: 60px;
   */
    padding-top: 7px;
    padding-bottom: 5px;
    padding-left: 29px;
    padding-right: 29px;
	
}

.margin-bottom {
	margin-bottom: 5px;
}
/* 
	add this class to all the parent classes and the class we want
	to center vertically
*/
.center-vertical {
	float:none;
	display:inline-block;
	vertical-align: middle!important; 
	height: 100%;
}
.instructions {

    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
	
	height: 80%;
	margin-top: 10%;
	margin-bottom: 10%;
/*	margin-top: 170px;*/
}

/* a quick hack to push this element down */
.bottom-aligned {
	
	bottom:0;  
	margin-bottom:7px;
	left: 0;
}
