<div style="width: 100%;" style="height: 100%">
	<div data-ng-repeat="image in images" class="image-repeat slide-animation" ng-class="{current: selected == $index }">
		<img ng-src="{{image}}" ng-show="true" />
	</div>
</div>