<div class="panel panel-default">
   <div class="panel-heading">
	   <div class="row">
		   <div class="col-md-12">
				<div>Response from server request: {{errorCode}}</div>
				<div>
					<small class="error" ng-show="errorCode==0 && !sent()">Waiting...</small>
				    <small class="error" ng-show="errorCode==0 && sent()">The response is successful</small>
				    <small class="error" ng-show="errorCode==1" >Author error</small>
				    <small class="error" ng-show="errorCode==2" >Resource not found</small>
				    <small class="error" ng-show="errorCode==3" >Resource moved</small>
				    <small class="error" ng-show="errorCode==4" >Bad request</small>
				    <small class="error" ng-show="errorCode==5" >Connection error</small>
				    <small class="error" ng-show="errorCode==6" >Unknown error</small>
				    <small class="error" ng-show="errorCode==7" >Size error</small>
				    <small class="error" ng-show="errorCode==8" >API not found</small>
				</div>
			</div>
		</div>
		<div class="panel-body">
			<div class="col-md-4 col-md-offset-4">
				<button type="button" ng-click="reset()" class="btn btn-primary btn-lg btn-block">Reset</button>
			</div>
		</div>
	</div>
</div>