<div class="row-fluid">
	<div class="centering text-center">
		<div class="col-md-12">
			<div class="outside-box">
				<div class="container">
					<div class="big-box">
						<!-- ROW FOR THE 'GAME BOX' -->
						<div class="row">
							<div class="col-md-12 game-box">
								<div class="row center-vertical" ng-show="showInstructions">
									<div class="col-md-8 col-md-offset-2 center-vertical">
										<div  class="panel panel-default instructions center-vertical">
											<div>
												<button class="btn btn-primary close margin-bottom pull-right" ng-click="closeInstructions()">x</button>
											</div>
											<div class="margin-bottom"></div>
											<div>
												<h4>Game Instructions</h4>
												<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
											</div>
											<div>
												<button class="btn btn-primary pull-right pull-bottom" ng-click="closeInstructions()">Continue</button>
											</div>
										</div>
									</div>
								</div>
								<div class="row fill-height">
									<!-- ROW FOR THE GAME END -->
									<div class="row" ng-show="gameOver">
										<div class="centering">
											<div class="col-md-10 col-md-offset-1" >
												<div class="box" >
													<div>
														<h1>GAME OVER!</h1>
														<p>Reason: {{ gameOverReason }}</p>
														<p>Winner: {{ winner }}</p>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="row" ng-show="gameOver">
										<div class="col-md-6 col-md-offset-3">
											<div class="panel panel-default">
												<div class="panel-body">
													<button class="btn btn-primary btn-block" ng-click="playAgain()">Play Again</button>
													</div>
												</div>
										</div>
									</div>
									<div class="col-md-12 fill-height ">
										<!-- TWO COLUMNS - ONE FOR EACH PLAYER -->
										<div class="col-md-6 fill-height">
											<!-- THE SIDE OF THE PLAYER * THE SIDE OF THE PLAYER * THE SIDE OF THE PLAYER -->
											<div class="panel panel-primary fill-height">
												<!-- THE BANKERS CARDS -->
												<div class="row game-board half-height">
													<div card-animation-display images="model.images[0]"></div>
												</div>
												<div class="col-md-12" player-display player-index="0" players="model.players">
												</div>
												<div class="row pull-bottom" ng-show="isThisPlayersTurn && playersTurn">
													<!-- <p>Hi where are the controls?</p> -->
													<div player-controls-display index="0" bet-fn="bet()" stick-fn="stick()" twist-fn="twist()" bet-disabled="betDisabled" stick-disabled="stickDisabled" twist-disabled="twistDisabled" game-over="gameOver" total="model.totals[0]"></div>
												</div>
											</div>
										</div>
										<!-- HALF WAY -->
										<div class="col-md-6 fill-height">
											<!-- THE SIDE OF THE BANKER * THE SIDE OF THE BANKER * THE SIDE OF THE BANKER -->
											<div class="panel panel-primary fill-height">
												<!-- THE PLAYERS CARDS -->
												<div class="row game-board half-height">
													<div card-animation-display images="model.images[1]"></div>
												</div>
												<div class="col-md-12" player-display player-index="1" players="model.players">
												</div>
												<!-- THE INTERACTIVE BUTTONS -->
												<div class="row pull-bottom" ng-show="isThisPlayersTurn && bankersTurn">
													<!-- <p>Hi where are the controls?</p> -->
													<div player-controls-display index="1" bet-fn="bet()" stick-fn="stick()" twist-fn="twist()" bet-disabled="betDisabled" stick-disabled="stickDisabled" twist-disabled="twistDisabled"  game-over="gameOver" total="model.totals[1]"></div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<!-- INSTRUCTIONS - TODO - WE REALLY NEED A FLOATING PANEL -->
								<div class="row" ng-hide="showInstructions">
									<div class="col-md-10 col-md-offset-1"></div>
								</div>
							</div>
						</div>
						<!-- FOR THE CHAT MESSAGING -->
						<div class="row" ng-hide="true" >
							<div class="col-md-8 col-md-offset-2">
								<div class="panel panel-default bottom-aligned">
									<div class="panel-heading">
										<div class="row">
											<div class="col-md-10">
												<input type="text" class="form-control" id="chatText" placeholder="type here..." ng-model="chat.message">
											</div>
											<div class="col-md-2">
												<button id="chatBtn" type="button" ng-click="sendChat(chat.message)" class="btn btn-primary pull-right">Send</button>
											</div>
										</div>
									</div>
									<div class="panel-body">
										<ol>
											<li ng-repeat="chat in chats | limitTo:-3 track by $index ">
												{{chat}}
											</li>
										</ol>
									</div>
								</div>
							</div>
						</div><!-- End of the chat -->
						<!-- ROW FOR TESTING - SHOWS THE CURRENT GAME PROPERTIES -->
						<div class="row">
							<div class="col-md-8 col-md-offset-2" ng-show="isTesting">
								<div class="panel panel-default">
									<div class="panel-heading">
										<h4>Game updates</h4>
									</div>
									<div class="panel-body">
										<p class="center">Message: {{message}}</p>
										<p>The Finite States Machine's current state is: {{current}}.</p>
										<small>Turn: {{model.move}}</small>
										<small ng-show="thisUserIsTheBanker">You are the banker!</small>
										<small ng-show="!thisUserIsTheBanker">You are the player</small>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>