<div class="row-fluid">
	<div class="centering text-center">
		<div class="col-md-12">
			 <div class="outside-box">
				 <div class="container">
					 <div class="box" >
						 <div class="text-center">
							 <h2>Online Pontoon</h2>
						 </div>
						 <div class="text-center">
							 <p>A Shephertz network game for two players.</p>
						 </div>
					 </div>
				 </div>
				 <div class="container">
					 <div class="big-box">
						 <!-- THE ROW FOR THE INFORMATION -->
						<div class="row">
							<div class="col-md-12" ng-hide="users.length===2">
								<div class="panel panel-primary">
									<div class="panel-heading"><h3>Information</h3></div>
									<div class="panel-body">
										<p class="align-left">This is a simple card game for two players. Enter the 'Games Room' and wait for a player to join you. When you have a partner feel free to chat and decide who will be the banker.</p>
									</div>
								</div>
							</div>
						</div>
						<!-- ENTER THE ROOM FIRST! -->
						<div class="row" >
							<div class="col-md-12">
								<div class="panel panel-default">
									<div class="panel-body">
										<p ng-hide="numberOfRooms()>0">Loading...</p>
										
										<div ng-repeat="room in rooms">
											<button ng-hide="isInRoom(room.id)" id="roomBtn" type="button" ng-disabled="errorCode!=0" ng-click="joinRoom(room.id)" class="btn btn-primary btn-lg">Join Room</button>
											<button ng-show="isInRoom(room.id)" id="roomBtn" type="button" ng-click="leaveRoom()" class="btn btn-primary btn-lg">Leave Room</button>
											<button ng-show="adminMode" id="deleteRoomBtn" type="button" ng-click="deleteRoom(room.id)" class="btn btn-primary center">-</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- ERROR DISPLAY PANEL -->
						<div class="row" ng-hide="errorCode==0">
							<!-- 0 && SENT FOR SUCCESS -->
							<!-- <p>Error code: {{errorCode}} || status: {{status}}</p> -->
							<div class="col-md-12" error-code-display data-method="reset()" status='status' error-code="errorCode">
							</div>
						</div>
						<!-- CONTAINS THE BUTTONS TO PLAY AS BANKER OR PLAYER -->
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-default">
									<div class="panel-body">
										<div class="col-md-6 col-sm-6">
											<button class="btn btn-primary btn-lg btn-block" type="button" ng-click="playAsBanker()" ng-disabled="!(users && users.length==2) || errorCode!=0">PLAY AS BANKER</button>
										</div>
										<div class="col-md-6 col-sm-6">
											<button class="btn btn-primary btn-lg btn-block" type="button" ng-click="playGame()" ng-disabled="!(users && users.length==2) || errorCode!=0">PLAY AS NORMAL PLAYER</button>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="panel panel-primary" ng-show="inRoom">
									<div class="panel-heading"><h4>Chat</h4></div>
									<div class="panel-body">
										<!-- MESSAGE FOR THE WAITING PLAYER -->
										<p ng-show="users.length==1">Wait for another player to enter the room so you can chat...</p>
										<div class="panel panel-default" ng-hide="users.length<2">
											<div class="panel-heading">
												<div class="row">
													<div class="col-md-9">
														<input type="text" class="form-control" id="chatText" placeholder="type here..." ng-model="chat.message">
													</div>
													<div class="col-md-2 col-md-offset-1">
														<button id="chatBtn" type="button" ng-click="sendChat(chat.message)" class="btn btn-primary pull-right">Send</button>
													</div>
												</div>
											</div>
											<div class="panel-body">
												<ol>
													<li ng-repeat="chat in chats track by $index">
														{{chat}}
													</li>
												</ol>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="false">
							<div class="col-md-12" id="game-update">
								<div class="panel panel-default" >
									<div class="panel-heading wrapper"><h4 class="cell text-center">Game updates</h4><button type="button" ng-click="on=!on" class="btn pull-right cell">+</button></div>
									<div class="panel-body" ng-if="on">
										<div error-code-display status='status' data-method="reset()" error-code="errorCode"></div>
										<div>
											<p>The current user is the host {{currentUserIsHost}}</p>
											<p>The room is full: {{roomFull}}</p>
											<p id="roomInfo">
											{{message}}
											</p>
											<p>The Finite States Machine's current state is: {{current}}.</p>
										</div>
										<div ng-repeat="room in rooms">
											<p>{{room.name}}  <button ng-hide="isInRoom(room.id)" id="roomBtn" type="button" ng-click="joinRoom(room.id)" class="btn btn-primary pull-right">Join</button>
												<button ng-show="isInRoom(room.id)" id="roomBtn" type="button" ng-click="leaveRoom()" class="btn btn-primary pull-right">Leave</button>
												<button ng-show="adminMode" id="deleteRoomBtn" type="button" ng-click="deleteRoom(room.id)" class="btn btn-primary center">-</button>
											</p>
										</div>
									</div>
									<div class="panel panel-default" ng-if="on">
										<div class="panel-heading">
											<h3 class="panel-title">Players</h3>
										</div>
										<div class="panel-body">
											<div ng-repeat="user in users">
												<p class="text-center">{{user}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						</div>
						<div class="row">
							<div class="col-md-12" ng-show="inGamesRoom && roomFull()">
								<div class="panel panel-default">
									<div class="panel-heading">
										<div class="row">
											<div class="col-md-4 col-md-offset-2">
												<button ng-show="inGamesRoom" id="bankerBtn" type="button" ng-click="playAsBanker()" class="btn btn-primary">Play as Banker</button>
											</div>
											<div class="col-md-4">
												<button ng-show="inGamesRoom" id="playBtn" type="button" ng-click="playGame()" class="btn btn-primary">Play Game</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>