<div class="row-fluid">
    <div class="centering text-center">
		<div class="container">
			<form name="signup-form" class="form-signin" novalidate ng-submit="login()">
				<fieldset>
					<!-- THE MESSAGE TO DISPLAY THE 'STATE' OF THE LOGON -->
			        <div class="text-center">
						<p>{{message}}</p>
					</div>
					<legend>Sign In</legend>
					<!-- USERNAME -->
			        <div class="horizontal-elements">
				    	<div class="left"><label class="control-label">Username:</label></div>
				  		<span>
							<input ng-class="{error: signup_form.name.$dirty && signup_form.name.$invalid}" type="text" placeholder="Username" name="name" ng-model="user.username" ng-minlength=3 ng-maxlength=20 required/>
							<div class="error" ng-show="signup_form.name.$dirty && signup_form.name.$invalid &&!signup_form.name.$focused">
								<small class="error" ng-show="signup_form.name.$error.required">Your name is required.</small>
							 	<small class="error" ng-show="signup_form.name.$error.minlength">Your name is required to be at least 3 characters</small>
							 	<small class="error" ng-show="signup_form.name.$error.maxlength">Your name cannot be longer than 20 characters</small>
		                    </div>
						</span>
				    </div>
				  	<!-- see: http://jsfiddle.net/jaimem/A5rvg/4/ -->
				  	<!-- NEW MEMBER  -->
		            <div class="horizontal-elements">
						<div ng-show="useNewMember">
							<div>
								<p><input name="test" type="radio" ng-model='inputModel' value="new_member" > New Member, create an account.</p>
						  	</div class="horizontal-elements">
								<p><input name="test" type="radio" ng-model='inputModel' value="existing_member" > Your membership password.</p>
						</div>	  
					</div>
					<!-- EMAIL -->
					<div class="horizontal-elements" ng-show="forNewMember()">
				    	<div class="left"><label class="control-label">Email:</label></div>
				  		<span>
							<input ng-class="{error: signup_form.email.$dirty && signup_form.email.$invalid}" type="text" placeholder="Email" name="email" ng-model="user.email" required="forNewMember()"/>
							<div class="error" ng-show="signup_form.email.$dirty">
								<small class="error" ng-show="signup_form.email.$invalid">A valid email is required.</small>
							</div>
						</span>
				  	</div>	
					<!-- PASSWORD -->
					<div class="horizontal-elements">
						<div class="left"><label class="control-label">Password:</label></div>
						<span>
							<input ng-class="{error: signup_form.password.$dirty && signup_form.password.$invalid}" type="password" placeholder="Password" name="password" ng-model="user.password" ng-minlength=3 ng-maxlength=20 required/>
							<div class="error" ng-show="signup_form.password.$dirty && signup_form.password.$invalid &&!signup_form.password.$focused">
								<small class="error" ng-show="signup_form.password.$error.required">Your password is required.</small>
							 	<small class="error" ng-show="signup_form.password.$error.minlength">Your password is required to be at least 3 characters</small>
							 	<small class="error" ng-show="signup_form.password.$error.maxlength">Your password cannot be longer than 20 characters</small>
		                    </div>
						</span>
					</div>
					<!-- SUBMIT BUTTON -->
					<div class="horizontal-elements">
				    	<button type="submit" ng-disabled="signup_form.name.$invalid || signup_form.name.$invalid || signup_from.$invalid" class="btn btn-primary">Continue</button>
					</div>
		        </fieldset>
			</form>
		</div>
	</div>
</div>
