<div class="row">
	<div class="centering text-center">
		<div class="container-fluid">
			<div>
				<p ng-show="playerIndex===0">PLAYER</p>
				<p ng-show="playerIndex===1">BANKER</p>
				<p>{{players[playerIndex]}}</p>
				<hr />
			</div>
		</div>
	</div>
</div>