<div class="panel panel-default" ng-hide="gameOver">
	<!-- <small>Testing || total: {{total}} || index: {{index}} </small> -->
	<div class="panel-heading">The total value of your cards is: {{total}}</div>
	<div class="panel-body" ng-hide="gameOver">
		<button ng-disabled="betDisabled" type="button" ng-click="bet( )" class="btn btn-small">Bet</button>
		<button ng-disabled="stickDisabled" type="button" ng-click="stick( )" class="btn btn-small">Stick</button>
		<button ng-disabled="twistDisabled" type="button" ng-click="twist( )" class="btn btn-small">Twist</button>
	</div>
	<div class="row pull-bottom" ng-show="gameOver">
		<div class="panel panel-default">
			<p>Your Total: {{total}}</p>
		</div>
	</div>
</div>